* {
  font-family: 'Poppins', sans-serif;

}

.animeflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.animeflex div {
  margin: 15px;
  text-align: center;
}

.favItem {
  padding-bottom: 3px;
  border-bottom: black solid 1px;
}



.anime-cells {
  width: 200px;
  margin: 20px;
  height: auto;
  font-size: 1.2em;
  text-align: center;

}