* {
  margin: 0;
  padding: 0;
}

.resultsDivs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.resultsDivs div {
  margin: 15px;
  text-align: center;
}
