/* .singleImage {
    position: relative;
    /* top: 0%;
    left: 0; */
/* }  */

/* * {
    /* text-align: center;
    margin-left: auto;
    margin-right: auto; */
/*make speecific*/
/* } */
* {
  padding: 0;
  margin: 0;
}
.email {
  padding-top: 20px;
}

.animeName {
  padding-top: 10px;
  font-size: 1em;
}

.faveImg {
  padding-right: 5px;
  width: 5%;
  height: auto;
}

.card {
  margin-top: 2%;
}

.card-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-single img {
  padding: 25px;
}

.card img {
  margin-top: 2%;
}

/* .card Button {
    margin: 30px
} */

.logBtn {
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* search results */
.resultsDivs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.resultsDivs div {
  margin: 15px;
  text-align: center;
}
/* login */

.logBtn {
  padding: 0;
  margin: 0;
}

/* anime stlye */

.animeflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.animeflex div {
  margin: 15px;
  text-align: center;
}

.favItem {
  padding-bottom: 3px;
  border-bottom: black solid 1px;
}

.anime-cells {
  max-width: 200px;
  margin: 20px;
  height: auto;
  font-size: 1.2em;
  text-align: center;
}

/* anime page */

.titles {
  font-size: 0.5em;
}

.container {
  width: 20%;
}

.logBtn {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
