/* .singleImage {
    position: relative;
    /* top: 0%;
    left: 0; */
/* }  */

/* * {
    /* text-align: center;
    margin-left: auto;
    margin-right: auto; */
/*make speecific*/
/* } */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #dae1ff;
}
.email {
  padding-top: 20px;
}

.animeName {
  padding-top: 10px;
  font-size: 1em;
}

.faveImg {
  padding-right: 5px;
  width: 5%;
  height: auto;
}

.card {
  margin-top: 2%;
}

.card-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-single img {
  padding: 25px;
}

.card img {
  margin-top: 2%;
}

/* .card Button {
    margin: 30px
} */

.logBtn {
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* search results */

/* login */

.logBtn {
  padding: 0;
  margin: 0;
}

/* anime stlye */

.animeflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.animeflex div {
  margin: 15px;
  text-align: center;
}

.favItem {
  padding-bottom: 3px;
  border-bottom: black solid 1px;
}

.anime-cells {
  max-width: 325px;
  margin: 20px;
  height: auto;
  font-size: 1.2em;
  text-align: center;
}

/* anime page */

.titles {
  font-size: 0.5em;
}

.container {
  width: 20%;
}

.logBtn {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.catHead {
  text-align: center;
}

.popAnimeTag {
  display: flex;
  text-align: center;
  padding-top: 50px;
  justify-content: center;
}

.popAnimeTag h1 {
  font-size: 5em;
  font-family: "Righteous", cursive;
}

.popAnimeTag img {
  width: 80px;
  height: auto;
}

.carText h4 {
  font-weight: bold;
  color: #fff;
  font-size: 2em;
  background-color: #000;
}

.catAcc {
  border-top: #343a40 solid 2px;
  border-bottom: #343a40 solid 2px;
}

.card-parent Button {
  margin: 15px;
}

.card-parent img {
  border-radius: 25px;
}

.header-img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.singleAnime {
  display: flex;
  flex-direction: row;
}

.page-item {
  padding: 10px;
}

.catPageHeader,
.searchHead {
  display: flex;
  margin-top: 4%;
  align-items: center;
  justify-content: center;
  font-family: "Righteous", cursive;
}
.catPageHeader img {
  width: 50px;
  height: auto;
}

.searchHead img {
  width: 100px;
  height: auto;
  margin-bottom: 5px;
}

.profileImg {
  min-width: 100%;
  min-height: auto;
  overflow: hidden;
}
